%%
%% cluster
{node, a, 'a@127.0.0.1'}.
{node, b, 'b@127.0.0.1'}.
{node, c, 'c@127.0.0.1'}.
{node, d, 'd@127.0.0.1'}.
{node, e, 'e@127.0.0.1'}.
{init, all_nodes, [{node_start, [{callback_module, spawner}]}]}.

%%
%% logs
{logdir, all_nodes, "/tmp/test/ek/"}.
{logdir, master,    "/tmp/test/ek/"}.

%%
%% suites
{include, all_nodes, "."}.
{suites, all_nodes, ".", all}.

%%  
%% code coverage
{cover,  "cover.spec"}.
